# Ignore node_modules folder
node_modules/

# Ignore sample files but keep the structure
public/samples/JeuneLys_Beatz/
public/samples/sampleFiles.json.tmp

# Optional: Ignore other files like .env for sensitive info (if applicable)
.env

/.next
*.gz
/.next/cache
*.gz
.DS_Store
# src/samples/list.txt
